<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Daily Journal</title>
  </head>
  <body>
  <nav class="navbar navbar-default bg">
    <div class="container" >
      <div class="navbar-header">
        <p class="w navbar-brand">DAILY JOURNAL 2021</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li class="w" id="compose"><a href="/compose">NEW</a></li>
          <li class="w" id="home"><a href="/">HOME</a></li>
          <li class="w" id="about"><a href="/about">ABOUT US</a></li>
          <li class="w" id="contact"><a href="/contacts">CONTACT US</a></li>
        </ul>
    </div>
  </nav>
    <div class="container">


